<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yesterpay.bingo.mapper.BingoMapper">
    <select id="selectBingoLetterList" resultType="com.yesterpay.bingo.dto.BingoCellDTO">
        select bl.bingo_letter_id, bl.index, bl.letter, bls.is_check
        from bingo_letter bl
            join bingo_letter_status bls on bl.bingo_letter_id = bls.bingo_letter_id
            join member m on m.bingo_board_id = bl.bingo_board_id
        where m.member_id = #{memberId} and bls.member_id = #{memberId};
    </select>

    <select id="selectBingoBoard" resultType="com.yesterpay.bingo.dto.BingoBoard">
        select bb.bingo_board_id, bb.level, bb.required_bingo_count
        from bingo_board bb
             join member m on bb.bingo_board_id = m.bingo_board_id
        where m.member_id = #{memberId};
    </select>

    <select id="selectBingoStatus" resultType="com.yesterpay.bingo.dto.BingoStatusResponseDTO">
        select bb.required_bingo_count, bbs.bingo_count
        from bingo_board bb
            join bingo_board_status bbs on bb.bingo_board_id = bbs.bingo_board_id
            join member m on m.bingo_board_id = bb.bingo_board_id
        where m.member_id = #{memberId} and bbs.member_id = #{memberId};
    </select>

    <update id="updateBingoCellByIndex" parameterType="com.yesterpay.bingo.dto.BingoCheckByIndexDTO">
        UPDATE bingo_letter_status bls
            JOIN bingo_letter bl ON bls.bingo_letter_id = bl.bingo_letter_id
            JOIN member m ON m.bingo_board_id = bl.bingo_board_id
            SET bls.is_check = true
        WHERE m.member_id = #{memberId} AND bls.member_id = #{memberId}
            AND bl.index = #{index};
    </update>

    <update id="updateBingoCellByLetterList" parameterType="com.yesterpay.bingo.dto.BingoCheckByLetterListDTO">
        UPDATE bingo_letter_status bls
            JOIN bingo_letter bl ON bls.bingo_letter_id = bl.bingo_letter_id
            JOIN member m ON m.bingo_board_id = bl.bingo_board_id
        SET bls.is_check = true
        WHERE m.member_id = #{memberId} AND bls.member_id = #{memberId}
            AND bl.letter IN <foreach collection="letterList" item="letter" open="(" separator="," close=")">
                                #{letter}
                             </foreach>;
    </update>

    <select id="selectBingoCell" resultType="com.yesterpay.bingo.dto.BingoCellDTO">
        select bl.bingo_letter_id, bl.index, bl.letter, bls.is_check
        from bingo_letter bl
             join bingo_letter_status bls on bl.bingo_letter_id = bls.bingo_letter_id
             join member m on m.bingo_board_id = bl.bingo_board_id
        where m.member_id = #{memberId} and bls.member_id = #{memberId} and bl.index = #{index}
    </select>

    <select id="selectUncheckedBingoLetter" resultType="com.yesterpay.bingo.dto.BingoCellDTO">
        select distinct bl.bingo_letter_id, bl.index, bl.letter, bls.is_check
        from bingo_letter bl
             join bingo_letter_status bls on bl.bingo_letter_id = bls.bingo_letter_id
             join member m on m.bingo_board_id = bl.bingo_board_id
        where m.member_id = #{memberId} and bls.member_id = #{memberId} and bls.is_check = false
    </select>

    <select id="selectBingoMission" resultType="com.yesterpay.bingo.dto.BingoMission">
        select bm.bingo_mission_id, bm.mission
        from bingo_mission bm
            join member m on bm.bingo_mission_id = m.bingo_mission_id
        where m.member_id = #{memberId}
    </select>

    <update id="updateBingoStatus">
        UPDATE bingo_board_status
            SET bingo_count = #{bingoCount}
        WHERE member_id = #{memberId} AND bingo_board_id = #{bingoBoardId}
    </update>

    <insert id="insertBingoBoardStatus">
        insert into bingo_board_status (member_id, bingo_board_id, bingo_count)
        values (#{memberId}, #{bingoBoardId}, 0)
    </insert>

    <insert id="insertBingoLetterStatus">
        INSERT INTO bingo_letter_status (member_id, bingo_letter_id, is_check)
        VALUES <foreach collection="bingoLetterIdList" item="bingoLetterId" separator=",">
                    (#{memberId}, #{bingoLetterId}, false)
               </foreach>
    </insert>

    <select id="selectBingoLetterIdListByBoard" resultType="java.lang.Long">
        select bingo_letter_id
        from bingo_letter
        where bingo_board_id = #{bingoBoardId}
    </select>


</mapper>