<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yesterpay.member.mapper.MemberMapper">
    <select id="selectOne" resultType="com.yesterpay.member.dto.Member">
        select *
        from member
        where member_id = #{memberId}
    </select>

    <select id="selectOneByIdAndPw" parameterType="com.yesterpay.member.dto.LoginRequestDTO" resultType="java.lang.Long">
        select member_id
        from member
        where id = #{id} and pw = #{pw}
    </select>

    <select id="selectLetterList" resultType="java.lang.Character">
        select hl.letter
        from letter_collection lc
        join hidden_letter hl on lc.hidden_letter_id = hl.hidden_letter_id
        where lc.member_id = #{memberId}
    </select>

    <update id="increaseBingoMissionId">
        update member
        set bingo_mission_id = bingo_mission_id + 1
        where member_id = #{memberId}
    </update>

    <update id="increaseBingoBoardId">
        update member
        set bingo_board_id = bingo_board_id + 1
        where member_id = #{memberId}
    </update>

    <select id="selectMemberListByDateWithIncludeHiddenLetter" resultType="java.lang.Long">
        select DISTINCT member_id
        from payment
        where pay_date BETWEEN #{startDateTime} and #{endDateTime}
          and is_include_hidden_letter = true
    </select>

    <select id="selectHiddenLetterIncludeResult"
            resultType="com.yesterpay.member.dto.HiddenLetterIncludeResult">
        select DISTINCT letter
        from payment p
            join hidden_letter hl on DATE(p.pay_date) = hl.date
        where is_include_hidden_letter = true
            and member_id = #{memberId}
            and DATE(pay_date) = #{date}
    </select>

    <select id="selectCharacter" parameterType="string" resultType="java.lang.Character">
        SELECT letter
        FROM hidden_letter
        Where date = #{date}
    </select>
</mapper>
