<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yesterpay.combination.mapper.CombinationMapper">
    <select id="selectSharedId" parameterType="com.yesterpay.combination.dto.Combination" resultType="int">
        select Count(*)
        from shared
        where member_id = #{memberId} and kakao_hash_id = #{kakaoHashId}
    </select>

    <insert id="addSharedId" parameterType="com.yesterpay.combination.dto.Combination">
        INSERT INTO shared
        (member_id,kakao_hash_id)
        VALUES
        (#{memberId}, #{kakaoHashId});
    </insert>

    <update id="addCombiCnt" parameterType="long">
        UPDATE member
        SET combi_count = combi_count + 1
        WHERE member_id = #{memberId};
    </update>

    <update id="subCombiCnt" parameterType="long">
        UPDATE member
        SET combi_count = combi_count - 1
        WHERE member_id = #{memberId};
    </update>

    <select id="getCombiCnt" parameterType="long" resultType="int">
        select combi_count
        from member
        where member_id = #{memberId}
    </select>

    <select id="findLetter" parameterType="java.lang.Character" resultType="long">
        select hidden_letter_id
        from hidden_letter
        where letter = #{letter}
        LIMIT 1
    </select>

    <insert id="addLetterInDB" parameterType="java.lang.Character">
        INSERT INTO hidden_letter
        (letter)
        VALUES
        (#{letter});
    </insert>

    <insert id="addLetterToMember" parameterType="long">
        INSERT INTO `yesterpay`.`letter_collection`
        (member_id, hidden_letter_id)
        VALUES
        (#{memberId}, #{letterId})
    </insert>

    <delete id="deleteLetter" parameterType="long">
        DELETE FROM letter_collection
        WHERE member_id = #{memberId} and hidden_letter_id = #{letterId}
    </delete>

    <select id="selectLetterList" resultType="java.lang.Character">
        select hl.letter
        from letter_collection lc
                 join hidden_letter hl on lc.hidden_letter_id = hl.hidden_letter_id
        where lc.member_id = #{memberId}
    </select>
</mapper>