<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yesterpay.predict.mapper.PredictMapper">

    <select id="selectPredictLetterCandidateByDateRange" resultType="java.lang.Character">
        select letter
        from predict_letter
        where date between #{startDate} and #{endDate}
    </select>

    <select id="selectHiddenLetterByDateRange" resultType="com.yesterpay.predict.dto.HiddenLetter">
        select hidden_letter_id, date, letter
        from hidden_letter
        where date between #{startDate} and #{endDate}
    </select>

    <insert id="insertPredictResult">
        insert into predict_result (member_id, date, letter, is_success)
        values (#{memberId}, #{date}, #{predictLetter}, #{isSuccess})
    </insert>

    <select id="selectPredictHistoryWeekly" resultType="com.yesterpay.predict.dto.PredictResult">
        select member_id, date, letter, is_success
        from predict_result
        where member_id = #{memberId}
          and date >= CURDATE() - INTERVAL 7 DAY
    </select>


</mapper>
