<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yesterpay.predict.mapper.PredictMapper">

    <select id="selectTodayPredictLetterCandidate" resultType="java.lang.Character">
        select letter
        from predict_letter
        where date = CURDATE()
    </select>

    <select id="selectTodayHiddenLetter" resultType="com.yesterpay.predict.dto.HiddenLetter">
        select hidden_letter_id, date, letter
        from hidden_letter
        where date = CURDATE()
    </select>

    <select id="selectHiddenLetterByLetter" resultType="com.yesterpay.predict.dto.HiddenLetter">
        select hidden_letter_id, date, letter
        from hidden_letter
        where date = CURDATE() and letter = #{letter}
    </select>

    <insert id="insertPredictResult">
        insert into predict_result (member_id, date, letter, is_success)
        values (#{memberId}, #{date}, #{letter}, #{isSuccess})
    </insert>


</mapper>
